<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Погода онлайн</title>
</head>
<body>
    <div class="app">
        <div class="app__header">
            <% if (citySearch) { %>
            <h1><%=citySearch%></h1><br>
            <% } %>
            <% if (weatherTemp) { %>
                <h2><%=weatherTemp%></h2>
            <% } %>
            <% if (weatherWind) { %>
                <h2><%=weatherWind%></h2>
            <% } %>
            <% if (error) { %>
                <p class="error"><%=error%></p>
            <% } %>
        </div>
        <form action="/" method="POST" class="app__content">
            <div class="input">
                <label for="city">Город</label>
                <input type="text" id="city" placeholder="Введите название города" name="city" value="">
            </div>
            <button type="submit" class="btn">Показать погоду</button>
        </form>
    </div>
</body>
</html>